.nav a.white-text:hover { color: #e0e0e0!important; }


.nav {
    background: rgb(4,138,193);
    background: linear-gradient(122deg, rgba(4,138,193,1) 0%, rgba(11,122,176,1) 45%, rgba(0,255,201,1) 100%);
    width: 100%;
    padding: 0;
}

.col-md-12 {
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    font-size: 20px;
}

.nav a:hover {
    color: #00ffc9
}